
#container {
  display: flex;
  width: 100%;
  min-width: 900px;
  max-width: 1500px;
  flex-direction: column;
  padding: 30px 15% ;
  justify-content: center;
  height: 100vh;
  margin: 100px auto;
}

.button {
  background-color: #76b4f7;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100px;
  align-self: flex-end;
}